tenancy_ocid         = "ocid1.tenancy.oc1..xxxxx"
user_ocid            = "ocid1.user.oc1..xxxxx"
fingerprint          = "xx:xx:xx:...:xx"
private_key_path     = "~/.oci/oci_api_key.pem"
region                = "us-ashburn-1"
compartment_id       = "ocid1.tenancy.oc1..xxxxx" # root compartment OCID is fine for a personal account
ssh_public_key_path = "~/.ssh/id_rsa.pub"
